<div class="d-flex align-items-center justify-content-between">
  <h1>Products</h1>

  <a
    *ngIf="authService.isAdmin()"
    nz-button
    nzType="primary"
    class="d-flex align-items-center justify-content-center text-decoration-none"
    routerLink="/products/create"
  >
    <span nz-icon nzType="plus"></span>
    Create
  </a>
</div>

<div class="filter-container mt-4">
  <nz-card>
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="4">
        <h5 class="text-secondary">Name</h5>
        <input
          nz-input
          placeholder="Filter by name"
          [(ngModel)]="filters.name"
        />
      </div>

      <ng-container *ngIf="authService.isAdmin()">
        <div nz-col>
          <h5 class="text-secondary">Min stock</h5>
          <nz-input-number
            [nzMin]="0"
            [nzStep]="1"
            [nzPrecision]="0"
            placeholder="Filter by min stock"
            [(ngModel)]="filters.minStock"
          />
        </div>

        <div nz-col>
          <h5 class="text-secondary">Min price</h5>
          <nz-input-number
            [nzMin]="0"
            [nzStep]="1"
            placeholder="Filter by min price"
            [(ngModel)]="filters.minPrice"
          />
        </div>

        <div nz-col>
          <h5 class="text-secondary">Max price</h5>
          <nz-input-number
            [nzMin]="0"
            [nzStep]="1"
            placeholder="Filter by max price"
            [(ngModel)]="filters.maxPrice"
          />
        </div>
  
        <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="4">
          <h5 class="text-secondary">Status</h5>
          <nz-select
            nzMode="multiple"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Filter by status"
            class="d-flex"
            [(ngModel)]="filters.statuses"
          >
            <nz-option
              *ngFor="let status of statuses"
              [nzValue]="status.code"
              [nzLabel]="status.name"
            ></nz-option>
          </nz-select>
        </div>
      </ng-container>

      <div nz-col class="d-flex align-items-end">
        <div nz-row [nzGutter]="[16, 16]">
          <div nz-col>
            <button
              nz-button
              nzType="primary"
              class="d-flex align-items-center"
              (click)="loadProducts(true)"
            >
              <span nz-icon nzType="filter"></span>
              Filter
            </button>
          </div>
          <div nz-col>
            <button nz-button nzType="link" class="px-0" (click)="clearFilters()">Clear</button>
          </div>
        </div>
      </div>
    </div>    
  </nz-card>
</div>

<div class="mt-4">
  <nz-table
    #basicTable
    nzBordered="true"
    nzShowPagination
    nzShowSizeChanger
    [nzShowTotal]="totalTemplate"
    [nzFrontPagination]="false"
    [nzData]="products.items"
    [nzTotal]="products.total"
    [nzPageSize]="products.pageSize || defaultPageSize"
    [nzPageIndex]="products.pageIndex || defaultPageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th *ngIf="authService.isAdmin()">Status</th>
        <th width="200px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.price | currency }}</td>
        <td>{{ data.stock }}</td>
        <td *ngIf="authService.isAdmin()">{{ data.status.name }}</td>
        <td>
          <div class="d-flex flex-row column-gap-1 justify-content-start">
            <a
              nz-button
              nzShape="circle"
              routerLink="/products/{{ data.id }}"
              class="d-flex align-items-center justify-content-center"
            >
              <span nz-icon nzType="eye"></span>
            </a>

            <ng-container *ngIf="!authService.isAdmin()">
              <button              
                nz-button
                nzType="primary"
                class="d-flex align-items-center justify-content-center"
                (click)="shoppingCartService.add(data)"
              >
                <span nz-icon nzType="plus"></span>
                Add to cart
              </button>

              <nz-tag
                *ngIf="shoppingCartService.getProduct(data.id)"
                [nzColor]="'orange'"
                class="d-flex justify-content-center align-items-center cursor-pointer"
                (click)="goToShoppingCart()"
              >
                In cart! x{{ shoppingCartService.getProduct(data.id)!.quantity }}
              </nz-tag>
            </ng-container>  
          </div>
        </td>
      </tr>
    </tbody>
  
    <ng-template #totalTemplate let-total>{{total}} items</ng-template>
  </nz-table>
</div>