**/node_modules

**/dist
**/.angular
**/.cache
**/.next
**/.nuxt
**/.output

**/.env
**/.env.local
**/.env.*
**/.venv
**/venv
**/env

**/.vscode
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

**/.git
**/.gitignore
**/.gitmodules
**/.svn

**/*.log
**/logs
**/tmp
**/temp

**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

**/coverage
**/.nyc_output
**/*.spec.ts
**/*.test.ts

**/Dockerfile
**/docker-compose.yml
**/.dockerignore